/*======================================*/

/* 検索ボタン */
.button-custom {
  margin-top: 32px;
  margin-left: 8px;
  background: #3898db;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}

/*======================================*/
/* ダイアログ内 */

.multiple_search_dialogModal_header {
  background-color: rgb(212, 225, 248);
}

/* 検索条件エリアテーブル */

.multiple_search_dialogModal_content .search_table {
  border-collapse: separate;
  border-spacing: 0px 15px;
  width: 100%;
  table-layout: fixed;
  border: 0px;
}

.multiple_search_dialogModal_content .search_table td.search_title {
  text-align: center;
  font-size: 16px;
}

.multiple_search_dialogModal_content .search_table td div.kintoneplugin-input-outer,
.multiple_search_dialogModal_content .search_table td div.kintoneplugin-dropdown-list {
  width: 80%;
}

/* テキストボックス */
.multiple_search_dialogModal_content .search_table td input.kintoneplugin-input-text {
  height: 40px !important;
  width: 100%;
}

/* 複数選択 */
.multiple_search_dialogModal_content .search_table td div.kintoneplugin-dropdown-list {
  padding: 5px !important;
}

.multiple_search_dialogModal_content .search_table td div.kintoneplugin-dropdown-list-item {
  padding: 0px 16px 6px 25px;
}

.multiple_search_dialogModal_content .search_table td div.kintoneplugin-dropdown-list-item:hover {
  background-color: #e2f2fe;
}

/* 日付検索 */
.multiple_search_dialogModal_content .search_table td div.parent_search_date>div.kintoneplugin-input-outer {
  width: 26%;
}

.multiple_search_dialogModal_content .search_table td div.parent_search_date>div {
  align-self: center;
}

.multiple_search_dialogModal_content .search_table td div.parent_search_date {
  display: flex;
}

.multiple_search_dialogModal_content .search_table td div.parent_search_date>div.kintoneplugin-select-outer>.kintoneplugin-select {
  max-width: 80px;
  height: 40px;
  margin-top: 8px;
}

.multiple_search_dialogModal_content .search_table td div.parent_search_date>div.kintoneplugin-select-outer>.kintoneplugin-select>select {
  height: 40px;
}

.multiple_search_dialogModal_content .search_table td div.separate_date {
  margin: 0 17px;
}

/* 検索ボタン */
.multiple_search_dialogModal_content .search_button_div {
  width: 100%;
  text-align: center;
  margin: 10px;
}

/* 取得件数 */
.multiple_search_dialogModal_content .count_area {
  display: flex;
  justify-content: flex-end;
}


/* 検索結果テーブル */
.multiple_search_dialogModal_content .list_table_wrapper {
  overflow-x: auto;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  border: 2px solid #e3e7e8;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.multiple_search_dialogModal_content .result_table {
  width: 100%;
  font-size: 14px;
}

/* ヘッダー固定用 */
.multiple_search_dialogModal_content .result_table {
  position: relative;
  border-collapse: collapse;
}

.multiple_search_dialogModal_content .result_table thead th {
  border-top: 1px solid #e3e7e8;
  border-left: 1px solid #e3e7e8;
  border-right: 1px solid #e3e7e8;
  border-bottom: 2px solid #e3e7e8;
  text-align: left;
  width: auto;
  box-sizing: border-box;
  padding: 10px 10px 10px 15px;
  font-weight: normal;
  white-space: nowrap;
}

/* ヘッダー固定用 */
.multiple_search_dialogModal_content .result_table thead th {
  background: white;
  position: sticky;
  top: 0;
}

.multiple_search_dialogModal_content .result_table thead th:first-child {
  width: 80px;
}

.multiple_search_dialogModal_content .result_table tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

.multiple_search_dialogModal_content .result_table tbody td {
  border-top: 1px solid #e3e7e8;
  border-left: 1px solid #e3e7e8;
  border-right: 1px solid #e3e7e8;
  border-bottom: 2px solid #e3e7e8;
  text-align: left;
  width: auto;
  box-sizing: border-box;
  font-weight: normal;
  white-space: nowrap;
}

.multiple_search_dialogModal_content .result_table tbody td:first-child {
  padding: 10px;
}

.multiple_search_dialogModal_content .result_table tbody td:nth-child(n+2) {
  padding: 10px 10px 10px 15px;
}

.multiple_search_dialogModal_content .result_table input.select_result_record_btn {
  border: 1px solid #e3e7e8;
  background-color: #f7f9fa;
  box-shadow: 1px 1px 1px #fff inset;
  color: #3498db;
  padding: 5px 10px;
}

.multiple_search_dialogModal_content .result_table input.select_result_record_btn:hover {
  background-color: #c8d6dd;
  box-shadow: none;
}

/* 選択ボタン */
.multiple_search_dialogModal_content .select_btn {
  width: 80px;
}

/* 検索結果選択後テーブル */
.multiple_search_dialogModal_content .list_selected_table_wrapper {
  overflow-x: auto;
  width: 100%;
  height: 300px;
  border: 2px solid #e3e7e8;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.multiple_search_dialogModal_content .result_selected_table {
  width: 100%;
  font-size: 14px;
}

/* ヘッダー固定用 */
.multiple_search_dialogModal_content .result_selected_table {
  position: relative;
  border-collapse: collapse;
}

.multiple_search_dialogModal_content .result_selected_table thead th {
  border-top: 1px solid #e3e7e8;
  border-left: 1px solid #e3e7e8;
  border-right: 1px solid #e3e7e8;
  border-bottom: 2px solid #e3e7e8;
  text-align: left;
  width: auto;
  box-sizing: border-box;
  padding: 10px 10px 10px 15px;
  font-weight: normal;
  white-space: nowrap;
}

/* ヘッダー固定用 */
.multiple_search_dialogModal_content .result_selected_table thead th {
  background: white;
  position: sticky;
  top: 0;
}

.multiple_search_dialogModal_content .result_selected_table thead th:first-child {
  width: 80px;
}

.multiple_search_dialogModal_content .result_selected_table tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

.multiple_search_dialogModal_content .result_selected_table tbody td {
  border-top: 1px solid #e3e7e8;
  border-left: 1px solid #e3e7e8;
  border-right: 1px solid #e3e7e8;
  border-bottom: 2px solid #e3e7e8;
  text-align: left;
  width: auto;
  box-sizing: border-box;
  font-weight: normal;
  white-space: nowrap;
}

.multiple_search_dialogModal_content .result_selected_table tbody td:first-child {
  padding: 10px;
}

.multiple_search_dialogModal_content .result_selected_table tbody td:nth-child(n+2) {
  padding: 10px 10px 10px 15px;
}

.multiple_search_dialogModal_content .result_selected_table input.selected_remove_record_btn {
  border: 1px solid #e3e7e8;
  background-color: #f7f9fa;
  box-shadow: 1px 1px 1px #fff inset;
  color: #3498db;
  padding: 5px 10px;
}

.multiple_search_dialogModal_content .result_selected_table input.selected_remove_record_btn:hover {
  background-color: #c8d6dd;
  box-shadow: none;
}
